      <h2>User info</h2>
        <%= image_tag user.get_profile_image(100,100) %>
          <table class="table">
           <tr>
            <th>name</th>
            <th><%= user.name %></th>
           </tr>
           <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
           </tr>
          </table>
          <%= link_to edit_user_path(user) do %>
             <button type="button" class="btn  btn-block btn-outline-secondary mt-4">
               <i class="fas fa-user-cog"></i>
             </button>
          <% end %>
          